.err{
    color: red;
    font-style: italic;
}
p{
    text-align: left;
}
.registerform{
    float:right; 
    width:auto; 
    border-radius: 10px;
    background-color:rgba(39, 13, 63, 0.931);
    margin:10px;
    padding: 10px;
    color: white;  
}